---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'



---
<Layout>
	<div class="p-2">
		<div class="flex gap-5 border-b-1 border-dashed border-gray-300">
			<div class="flex justify-center items-center">
				2025
			</div>
			<div class="py-5">
				<a class="" href=""><u>Personal Blog</u></a> 
			- My personal site for sharing projects, thoughts, and goals. Built with Astro to keep things lightweight and scalable, and as a way to learn something new.
			</div>
		</div>
		<div class="flex gap-5 border-b-1 border-dashed border-gray-300">
			<div class="flex justify-center items-center">
				2025
			</div>
			<div class="py-5">
				<a class="" href="https://cv-application-eta-three.vercel.app/" target="_blank" rel="noopener noreferrer"><u>Resume Builder</u></a> 
				- A simple React app that generates a CV/resume based on user input. Developed to solidify understanding of React techniques like conditional rendering, passing props, and component states.
			</div>
		</div>
		<div class="flex gap-5 border-b-1 border-dashed border-gray-300">
			<div class="flex justify-center items-center">
				2023
			</div>
			<div class="py-5">
				E-Commerce Site
				- A mock e-commerce web application for Modern Web Development course in collaboration with a classmate. Integrated user authentication module and Algolia search engine.
			</div>
		</div>
	</div>
</Layout>

	
