---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'



---
<Layout>
	<div class="p-2">
		<div class="flex gap-5 border-b-1 border-dashed border-gray-300">
			<div class="flex justify-center items-center">
				2025
			</div>
			<div class="py-5">
				<a class="" href=""><u>Personal Blog</u></a> 
			- My personal site for sharing projects, thoughts, and goals. Built with Astro to keep things lightweight and scalable, and as a way to learn something new.
			</div>
		</div>
		<div class="flex gap-5 border-b-1 border-dashed border-gray-300">
			<div class="flex justify-center items-center">
				2025
			</div>
			<div class="py-5">
				<a class="" href="https://cv-application-eta-three.vercel.app/" target="_blank" rel="noopener noreferrer"><u>Resume Builder</u></a> 
				- A simple React app that generates a CV/resume based on user input. Developed to solidify understanding of React techniques like conditional rendering, passing props, and component states.
			</div>
		</div>
		<div class="flex gap-5 border-b-1 border-dashed border-gray-300">
			<div class="flex justify-center items-center">
				2023
			</div>
			<div class="py-5">
				<a class="" href="https://github.com/rleeoriginal/web-dev-project" target="_blank" rel="noopener noreferrer"><u>E-Commerce Site</u></a> 
				- A mock e-commerce web application for Modern Web Development course in collaboration with a classmate. Integrated user authentication module and Algolia search engine.
			</div>
		</div>
	</div>
</Layout>
<!--
			<div class="w-[20%] h-[25%] float-right">
				<img class="w-full h-full object-cover rounded-full" src="/src/images/portrait3.jpg" alt="turtle" height="150" width="250">
			</div>
-->

<!-- 
<div class="w-[50%] h-[66%] float-right grid grid-rows-3 grid-cols-3 gap-2">
			<div class="row-start-1 col-start-1 row-span-2 col-span-2 flex items-end">
				<img class="w-full h-full object-cover rounded-lg" src="/src/images/portrait2.jpg" alt="turtle" height="250" width="250">
			</div>
			<div class="row-start-1 col-start-3 row-span-2">
				<img class="w-full h-full object-cover rounded-lg" src="/src/images/turtle.jpg" alt="turtle" height="250" width="250">
			</div>
			<div class="row-start-3 col-start-1 col-span-2 flex items-end overflow-hidden">
				<img class="h-full w-full object-cover rounded-lg" src="/src/images/turtle2.jpg" alt="turtle" height="auto" width="100">
				
			</div>
			<div class="row-start-3 col-start-3">
				<img class="w-full h-full object-cover rounded-lg" src="/src/images/coffee.jpg" alt="turtle" height="250" width="250">
			</div>
			

		</div>

-->

<!--
	<div class="bg-red-300 h-full grid grid-rows-2 grid-cols-2">
		<div class="outline row-span-2">
			1
		</div>
		<div class="outline">
			2
		</div>


	</div>



-->
	
	
<!-- 

		<div class="border-t-1 border-l-1 flex items-end overflow-hidden">
			<img class="w-full h-full object-cover" src="/src/images/turtle.jpg" alt="turtle" height="auto" width="250">
		</div>

-->	
				
