---
import Layout from "../layouts/Layout.astro"
---
<Layout>
	<div class="p-2 flex flex-col gap-3">
        <div class="pt-2">
            Life is short and I want to make the most out of it.
            <br>
            Updated July 19, 2025.
        </div>
        <ol class="list-decimal list-inside">
            <li>✔ Compete in a boxing match for <a class="underline underline-offset-2" href="https://bengalbouts.nd.edu/" target="_blank" rel="noopener noreferrer">charity</a> and win</li>
            <li>✔ Organize a trek to NY/NJ to meet alums and startup founders</li>
            <li>✖ Reach 1000 hours in meditation (29/1000 as of 7/19/25)</li>
            <li>✖ Achieve complete fluency in Korean</li>
            <li>✖ Visit South Korea</li>
            <li>✖ Achieve complete fluency in Japanese</li>
            <li>✔ Visit Japan</li>
            <li>✖ Stay in Japan for 6 months</li>
            <li>✖ Start a matcha business</li>
        </ol>
    
        <h1>More to be shared...</h1>
        

	</div>

</Layout>