---
---
<div class="p-2">
    Hey
    <img class="m-2 float-right w-[20%] h-[25%] object-cover rounded-full" src="/portrait3.jpg" alt="portrait" height="150" width="250">
    I'm Roy! I’m a Korean American from Los Angeles, CA, and a recent Computer Science graduate from the University of Notre Dame. 
    From my time there, I gained hands-on experience with full stack development and building from the ground up. 
    I love to create applications from ideation to fruition, and I’m constantly learning how to be better at it. 
    I thrive on challenging myself, seeking feedbacks, and learning new technologies. 
</div>


