---
---
<div class="min-h-[56px] border-b-1 border-gray-200">
    <div class="mx-auto max-w-[740px]">
        <div class="font-bold leading-[56px] flex gap-10">
            <div>
                <a class="nav-link hover:uppercase hover:border p-2" href="/personal-website/">projects</a>
            </div>
            <div>
                <a class="nav-link hover:uppercase hover:border p-2" href="/personal-website/posts/">posts</a>
            </div>
            <div>
                <a class="nav-link hover:uppercase hover:border p-2" href="/personal-website/pursuits/">pursuits</a>
            </div>
        </div>
    </div>
</div>

<script>
    const allAnchorTags = document.querySelectorAll('.nav-link');
    const currentPath = window.location.pathname;
  
    allAnchorTags.forEach((a) => {
      if (a.getAttribute('href') === currentPath) {
        a.classList.add('uppercase', 'border');
      }
    });
  </script>